




/*
     FILE ARCHIVED ON 3:46:23 Jun 15, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 1:04:12 Oct 19, 2014.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
.text
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.textBig {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 36px;
}

.textMenu
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.textCopyright
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-align: center;
}

.textSmall
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
}
